body {
  font-family: system-ui;
  max-width: 1200px;
  margin: auto;
  padding: 40px;
}

svg {
  width: 100%;
  height: auto;
}

#map svg {
  border: 1px solid black;
}

.region {
  stroke: white;
  stroke-width: 0.5;
}

.region:hover {
  stroke: black;
}
